// tmavy gradient
CoverImageGradientOverlay = linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 25%)

// svetly gradient
// CoverImageGradientOverlay = linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 25%);

OverlayTextColor = #fff

OverlayTextShadow = none
// pridat perexu "obtazeni"
// OverlayTextShadow = -1px -1px 0px #d3, -1px 1px 0px #d3, 1px -1px 0px #d3, 1px 1px 0px #d3

ScrollButtonRightFromCenter = 0px

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201C""\201C""\201C";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.citautor {
  margin-left: 12em;
  font-size: 17px;
}

.obsah
	background-color #f9f9f9
	padding 5px
.obsah a
	font-size 19px
	background #f9f9f9 !important
	text-shadow none !important

// SEM UZ JE LEPSI NESAHAT

MediaSmallScreen = "screen and (max-width: 1023px)"
MediaMobile = "screen and (max-width: 767px)"

@import 'template/fonts.styl'
@import colors
@import prefixes
@import 'components/triangle'

@import basics
@import 'template/header.styl'
@import 'template/opener.styl'
@import 'template/main.styl'
@import 'template/recommended.styl'
@import 'template/footer.styl'
